{% extends "base.html.jinja" %}

{% block title %}Mental Health Statistics{% endblock %}

{% block content %}
<div class="rendered-form">
    <div class="formbuilder-text form-group field-text-1701829887926">
        <label for="text-1701829887926" class="formbuilder-text-label">Email<span
                class="formbuilder-required">*</span></label>
        <input type="email" class="form-control" name="text-1701829887926" access="false" id="text-1701829887926"
            title="youremail@example.com" required="required" aria-required="true">
    </div>
    <div class="formbuilder-textarea form-group field-textarea-1701829888953">
        <label for="textarea-1701829888953" class="formbuilder-textarea-label">Feedback<span
                class="formbuilder-required">*</span></label>
        <textarea type="textarea" class="form-control" name="textarea-1701829888953" access="false"
            id="textarea-1701829888953" required="required" aria-required="true"></textarea>
    </div>
    <div class="formbuilder-button form-group field-button-1701829980457">
        <button type="submit" class="btn-success btn" name="button-1701829980457" access="false" style="success"
            id="button-1701829980457">Submit</button>
    </div>
</div>
{% endblock %}