{% extends "base.html.jinja" %}

{% block title %}Mental Health Statistics{% endblock %}

{% block css %}
<style>
table.topazCells {
  border: 4px solid #555555;
  background-color: #555555;
  width: 400px;
  text-align: center;
  border-collapse: collapse;
}
table.topazCells td, table.topazCells th {
  border: 1px solid #555555;
  padding: 4px 7px;
}
table.topazCells tbody td {
  font-size: 13px;
  font-weight: bold;
  color: #FFFFFF;
}
table.topazCells tr:nth-child(even) {
  background: #A43152;
}
table.topazCells td:nth-child(even) {
  background: #A43152;
}
table.topazCells thead {
  background: #A43152;
}
table.topazCells thead th {
  font-size: 12px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: left;
  border-left: 2px solid #A43152;
}
table.topazCells thead th:first-child {
  border-left: none;
}

table.topazCells tfoot {
  font-size: 13px;
  font-weight: bold;
  color: #FFFFFF;
  background: #A43152;
}
table.topazCells tfoot td {
  font-size: 13px;
}
table.topazCells tfoot .links {
  text-align: right;
}
table.topazCells tfoot .links a{
  display: inline-block;
  background: #FFFFFF;
  color: #A43152;
  padding: 2px 8px;
  border-radius: 5px;
}
</style>
{% endblock %}

{% block content %}
<table class="topazCells">
    <thead>
        <tr>
            <th>Mental Illnesses</th>
            <th>Year 1</th>
            <th>Year 2</th>
            <th>Year 3</th>
            <th>Year 4</th>
            <th>Year 5</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Anxiety</td>
            <td>3.94%</td>
            <td>62%</td>
            <td>415</td>
            <td>27.3%</td>
            <td>32.3%</td>
        </tr>
        <tr>
            <td>Depression</td>
            <td>5%</td>
            <td>20.3%</td>
            <td>5.7%</td>
            <td>7.8%</td>
            <td>32.3%</td>
        </tr>
        <tr>
            <td>Insomnia</td>
            <td> 33-50%</td>
            <td>32.3%</td>
            <td>50%</td>
            <td>34.7%</td>
            <td>30-40%</td>
        </tr>
        <tr>
            <td>Anger Managemnet</td>
            <td>31%</td>
            <td>40%</td>
            <td>33%</td>
            <td>40%</td>
            <td>45%</td>
        </tr>
        <tr>
            <td>Substance Abuse</td>
            <td>16.5</td>
            <td>33</td>
            <td>16.5</td>
            <td>10.3</td>
            <td>13.5</td>
        </tr>
    </tbody>
</table>
{% endblock %}